
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    /* background: yellow; */
    width: 100%;
    display: flex;
    gap: 30px;
}

.icon {
    background: #25BF6C;
    width: 200px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}

.content {
    /* background: red; */
    border-radius: 11px;
    border: 1px solid #0097CF;
    width: 250px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content span {
    text-align: center;
}

.card {
    /* background: red; */
    width: 250px;
    height: 308px;
    display: flex;
    align-items: center;
}